body{

    background: url("../img/imgbg.jpg");
}
.top .bg-dark{
    background-color: #000000 !important;
}
.logo{
    width: 100;
    height: auto;
}
.content .bg{
    margin-left: auto;
    margin-right: auto;
    padding: 16px 5px;
    background: #abdde5;
}
.footer .container .copyright{
    margin-right: auto;
    margin-left: auto;
    background: #000000;
    padding: 40px;
}
.footer p{
    color: #ffffff;
}
/*#wrapper{
    margin: 0 auto;
    width: 970px;
    height: auto;
    background-color: seagreen;
}
#header{
    padding-top: 80px;
    background-color: black;
    padding-bottom: 10px;
}
#menu{
    color: white;
    padding-top: 80px;
    background-color: black;
}
#menubar{
    padding-left: 12px;
}
.menubotton{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}
#slide{
    height: 350px;
    width: 100%;
    padding: 0 0 0 0;
}
#containt{
    background-color: white;
    padding-right:12px;

}
#footer{
    height: 60px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 7px;
   }
   */